
/* ---------------------------- Top Navigation */
.nav-top {
    z-index: 42;

    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    
    position: relative;
    width: 1320px;
    padding: 1em;
    margin-left: -14px;

    background: rgba(132,138,106,0.7);
    filter: alpha(opacity=80); /* IE6-IE8 */

    border-top-left-radius: 1em 0.5em;
    border-top-right-radius: 1em 0.5em;
}

.nav-top li {
    display: inline-block;
    list-style: none;
}

/* ---------------------------- Side Navigation */

.sidenav {
    height: 750px;               /* fixed height */
    
    position: relative;         /* Stay in place */
    z-index: 1;                 /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;     /* Black*/
    overflow-x: hidden;         /* Disable horizontal scroll */
    padding-top: 10px;          /* Place content 10px from the top */
    transition: 0.5s;           /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 5px ;
    font-size: 140%;
    color: #01093A;
    display: block;
    transition: 0.3s
    
}

.sidenav a:hover {
    color: #884899;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* ---------------------------- Bottom Navigation */

.nav-bottom {
    font-size: 0.75rem;
    z-index: 42;

    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    
    position: relative;
    padding: 1em;
    margin-left: -14px;

    background: rgba(132,138,106,0.7);
    filter: alpha(opacity=80); /* IE6-IE8 */

    border-top-left-radius: 1em 0.5em;
    border-top-right-radius: 1em 0.5em;
}

.nav-bottom li{
    display: inline-block;
    list-style: none;
}

.active{
    background-color: #33cc33;
    color: #fff;
}
