
.nav {
    margin: 0 ;
    padding: 0 ;
}

.nav a{
    text-decoration: none;
}

.nav > li {
    display: inline-block;
}

.active{
    background-color: #33cc33;
    color: #fff;
}

.nav-top {
    font-size: 1.25rem;
}

.nav-top a{
    color: #fff;
}

.nav-top a.active {
    color: blue;
}

.nav-top a:hover {
    color: blue;
    text-decoration: underline;
}

.nav-bottom {
    font-size: 0.75rem;
}
