html {
    margin: 0;
    padding: 0;
    font: normal 100%/1.4 Georgia,serif;
}

.container {
    position: relative;
}

section {
    top: 0 ;
    margin-left: 320px;
    padding: 1em;
}

.post {
    margin-left: 20px;
    padding: 1em;
}

footer {
    position: fixed;
    padding: 1em;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: white;
    width: 100%;
}

body {
    margin-bottom: 120px;
}
